name: NJADI AI FINAL BUILD
on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Dependencies
        run: npm install

      - name: Build Android Asset
        run: npm run build

      - name: Upload APK Result
        uses: actions/upload-artifact@v4
        with:
          name: NJADI-AI-Mobile-App
          path: dist/ # هذا سيجمع لك ملفات التطبيق الفاخرة لتكون جاهزة
